header{
    margin-top: 10px;
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
}
.container .row{
    margin-top: 20px;
}
.container .col-md-4{
    padding: 5px 10px 10px 10px;
}
.col-md-4 a{
    text-decoration: none;
}
.container .buyit{
    background-color: #FFFFFF;
}
.buy_content{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.buy_content h4{
    color: black;
    padding-top: 10px;
}
.buy_content p{
    color: orange;
}
.buy_content .btn{
    margin-bottom: 15px;
}