/* nav */
.head{
    width: 250px;
    border-radius: 50%;
}
.navbar-brand img{
    width: 20px;
}
.container .row{
    margin-top: 20px;
}
.container h1{
    text-align: center;
}
.container .col-md-4{
    padding: 10px 10px 10px 10px;
}
.container .buyit{
    background-color: #FFFFFF;
}
.buy_content{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.buy_content h4{
    padding-top: 10px;
}
.buy_content p{
    color: orange;
    padding-bottom: 10px;
}